body {
  margin: 0;
  text-align: center;
}

h1 {
  color: #11999e;
  font-family: sans-serif;
  line-height: 2;
  margin-top: 0;
}

h2 {
  color: #11999e;
  margin-top: 0;
  padding: 40px 0 20px 0;
}

img {
  width: 95%;
}

p {
  color: #40514e;
  font-family: serif;
  font-size: 1.2rem;
}

table {
  color: #40514e;
  font-family: serif;
  font-size: 1.2rem;
  margin: auto;
  text-align: justify;
  width: 90%;
}

td {
  width: 50%;
}

.scenario-1 {
  background-color: #e4f9f5;
}

.scenario-2 {
  background-color: #30e3ca;
}

.td-scene-img {
  text-align: center;
}
